.footCont {
    width:100%;
    height:100px;
    background-color: black;
    margin:0px;
    padding: 30px 60px ;
    margin-top:30px;
    height:fit-content;
}

.rightCont {
    width: 50%;
    gap: 20px;
}

.leftCont {
    width: 50%;
}

.logoContainer {
    display: flex;
    align-items: center;
    gap: 20px;
}

.divNavText {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.navLogo{
    width: 50px;
}

.navH1{
    font-size: 16px;
    margin:0em;
    padding:0px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.navP{
    font-size:14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.005em;
}

.pFootDiv{
    font-size: 14px;
    color: #d2d2d2;
}

.pContact, .pAddr {
    color: white;
}

.table {
    padding: 0;
    font-size: 14px;
    color: #d2d2d2;
    margin-bottom: 12px;
}

.table td {
    padding-right: 5px;
}

.ul {
    padding: 0;
    font-size: 14px;
    color: #d2d2d2;
}

@media screen and ( max-width: 880px){
    
    .footCont {
        padding: 30px 30px;
    }
   
}

@media screen and ( max-width: 800px){
    
    .footCont {
        flex-direction: column;
        gap: 20px;
    }
    .rightCont {
        width: 100%;
        align-items: center;
    }
    .pFootDiv{
        text-align: center;
    }
    .leftCont {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
    .pContact, .pAddr {
        width: 40%;
    }

}

@media screen and ( max-width: 730px){
    
    .leftCont {
        justify-content: space-between;
    }
    .pContact, .pAddr {
        width: 50%;
    }
}

@media screen and ( max-width: 560px){
    
    .logoContainer {
        flex-direction: column;
    }
    .leftCont {
        flex-direction: column;
        align-items: center;
    }
    .pContact, .pAddr {
        width: 100%;
    }
    .pContact {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .pAddr {
        text-align: center;
    }

}

@media screen and ( max-width: 355px) {
    
    .footCont {
        padding: 30px 16px;
    }

}

@media screen and ( max-width: 325px) {

    .navH1 {
        font-size: 14px;
    }

    .navP {
        padding: 0px;
        font-size: 12px;
        letter-spacing: 0.015em;
        line-height: 12px;
    }
    .pFootDiv{
        font-size: 12px;
    }
    
    .table, .ul {
        font-size: 12px;
    }

}
