.jumDiv {
   height: 100vh;
}
.titleText {
   margin: 0;
   font-size: 40px;
}

.subTitle{
   font-size: 20px;
   margin: 0;
}

.btnJum{
   padding: 10px 50px;
   border-radius: 5px;
   transition: all .3s;
}

.btnJum:hover {
   box-shadow: 5px 5px 1px 0px rgba(176, 130, 60, 1),
               10px 10px 1px 0px rgba(185, 41, 32, 1);
}

@media screen and ( max-width: 850px){
   
   .titleText {
      font-size: 30px;
   }

   .subTitle{
      font-size: 16px;
   }

}

@media screen and ( max-width: 600px){
   
   .titleText {
      font-size: 25px;
   }
   .subTitle{
      font-size: 12px;
   }

}

@media screen and ( max-width: 400px) {
   
   .jumDiv {
      padding: 0px 16px;
   }
   .images {
      width: 30px;
   }
   .btnJum{
      padding: 10px 30px;
   }
}
 