.navBar{
    background-color: #121212;
    position: fixed;
    width:100%;
    top:0px;
    color:white;
    padding: 10px 60px;
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
}

.logoContainer {
    height: 65px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navLogo{
    width: 40px;
}

.navH1{
    font-size: 16px;
    margin:0em;
    padding:0px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0.05em;
}

.navP{
    font-size:14px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.005em;
}

.navBarDashboard{
    border-bottom: 2px solid #9f9d9d;
    margin: 0;
    padding: 10px 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
}

.navBarDashboard .profileSection .profileContainer {
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.navBarDashboard .profileSection .profileContainer p {
    font-size: 14px;
    margin: 0;
}

.navBarWhite{
    background-color: white;
    position: fixed;
    width: 100%;
    top: 0px;
    color:black;
    padding: 10px 60px;
    align-items: center;
    justify-content: space-between;
    z-index: 2000;
}

.ulNav {
    padding: 0;
    margin: 0;
    right: 0;
    gap: 50px;
}

.ulNav li .link:hover {
    color: #d9d9d9;
}

.ulNavWhite {
    gap: 50px;
}

.ulNavWhite li .link:hover {
    color: #121212;
}

.ulNav2{
    color:white;
}

.ulHide{
    display:none;
}

.hamNav{
    display:none !important;
}


.profileSection {
    cursor: pointer;
    padding: .4rem .6rem;
    border-radius: 9px;
    box-shadow: 0 0 7px rgb(133, 132, 132);
    border-bottom: 2px solid #121212;
}
.logoutContainer {
    z-index: 2000;
    position: absolute;
    top: 64.97px;
    background-color: black;
    opacity: 85%;
    box-shadow: 0 2px 5px #cfcfcf;
    border-radius: 7px;
    padding: 15px 53px;
    display: none;
}
.logoutText{
    font-size: .7em;
}

@media (min-width: 880px) and (max-width: 1265px) {
    
    .navBarDashboard {
        padding: 10px 30px;
    }

}

@media (min-width: 700px) and (max-width: 880px) {
    
    .navBar, .navBarDashboard, .navBarWhite {
        padding: 10px 30px;
    }
    .ulNav {
        gap: 20px;
    }

}

@media (min-width: 500px) and (max-width: 699px) {
    
    .navBar, .navBarDashboard, .navBarWhite {
       padding: 10px 16px;
    }

    .logoContainer {
        gap: 16px;
    }

    .navLogo {
        width: 35px;
    }

    .divNavText {
        padding: 0;
    }

    .navH1 {
        font-size: 14px;
    }

    .navP {
        padding: 0px;
        font-size: 12px;
        letter-spacing: 0.015em;
        line-height: 12px;
    }
    
    .ulNav{
        display:flex;
        flex-direction:column;
        position:absolute;
        background-color: #121212;
        text-align:center;
        padding:2em;
        top:5em;
        opacity: 0;
        z-index:1;
        transition: all 0.2s ease-in-out;
    }

    .navBarDashboard .profileSection .profileContainer {
        gap: 0px;
    }

    .navBarDashboard .profileSection .profileContainer p {
        display: none;
    }
    .profileImage{
        margin: 0 !important;
    }
    .ulNav.show{
        opacity: 100;
    }
    
    .ulNavWhite{
        color:white;
    }

    .hamNav{
        display:flex !important;
        width: 40px;
        gap: 6px;
        cursor: pointer;
    }

    .hamNav2{
        display:flex !important;
        width: 70px;
        position:fixed;
        right:0;
    }

    .hamNav span{
        height: 4px;
        border-radius: 10px !important;
    }

    .an11{
        transform : rotate(0deg) translate(0px, 0px);
        transition: 0.3s ease-in-out;
    }

    .an22{
        transform : translate(0px, 0px);
        transition: 0.3s ease-in-out;
        opacity: 100;
    }

    .an33{
        transform : rotate(0deg) translateX(0px);
        transition: 0.3s ease-in-out;
    }

    .an1{
        transform : rotate(45deg) translate(5px, 9px);
        transition: 0.3s ease-in-out;
    }

    .an2{
        transform : translateX(-30px);
        transition: 0.3s ease-in-out;
        opacity: 0;
    }

    .an3{
        transform : rotate(-45deg) translate(5px, -9px);
        transition: 0.3s ease-in-out;
    }

    .bgBlack{
        background-color:#000000 !important;
    }

    .bgWhite{
        background-color:white !important;   
    }
    .logoutContainer{
        right: 1rem;
    }
    
}

@media (min-width: 200px) and (max-width: 499px) {

    .navBar, .navBarDashboard, .navBarWhite {
        padding: 10px 16px;
    }
    
    .logoContainer .divNavText {
        display: none;
    }

    .navBarDashboard .profileSection .profileContainer {
        gap: 0px;
    }

    .navBarDashboard .profileSection .profileContainer p {
        display: none;
    }

    .ulNav{
        display:flex;
        flex-direction:column;
        position:absolute;
        background-color: #121212;
        text-align:center;
        padding:2em;
        top:5em;
        opacity: 0;
        z-index:1;
        transition: all 0.2s ease-in-out;
    }

    .navBarDashboard .profileSection .profileContainer {
        gap: 0px;
    }
    .profileImage{
        margin: 0 !important;
    }
    .navBarDashboard .profileSection .profileContainer p {
        display: none;
    }

    .ulNav.show{
        opacity: 100;
    }
    
    .ulNavWhite{
        color:white;
    }

    .hamNav{
        display:flex !important;
        width: 40px;
        gap: 6px;
        cursor: pointer;
    }

    .hamNav2{
        display:flex !important;
        width: 70px;
        position:fixed;
        right:0;
    }

    .hamNav span{
        height: 4px;
        border-radius: 10px !important;
    }

    .an11{
        transform : rotate(0deg) translate(0px, 0px);
        transition: 0.3s ease-in-out;
    }

    .an22{
        transform : translate(0px, 0px);
        transition: 0.3s ease-in-out;
        opacity: 100;
    }

    .an33{
        transform : rotate(0deg) translateX(0px);
        transition: 0.3s ease-in-out;
    }

    .an1{
        transform : rotate(45deg) translate(5px, 9px);
        transition: 0.3s ease-in-out;
    }

    .an2{
        transform : translateX(-30px);
        transition: 0.3s ease-in-out;
        opacity: 0;
    }

    .an3{
        transform : rotate(-45deg) translate(5px, -9px);
        transition: 0.3s ease-in-out;
    }

    .bgBlack{
        background-color:#000000 !important;
    }

    .bgWhite{
        background-color:white !important;   
    }
    .logoutContainer{
        right: 1rem;
    }

}