.container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.whyCont{
    gap: 20px;
}

.whyDiv {
    width: 50%;
}

.whyP {
    margin: 0;
}

@media screen and (max-width: 500px){
    .container{
        padding: 0px 16px;
        gap: 20px;
    }
    .whyDiv {
        width: auto;
    }
    .whyCont{
        gap: 20px;
    }
    .whyImage {
        width: 120px;
    }
}

@media screen and (max-width: 480px){
    .container{
        gap: 20px;
    }
    .whyImage {
        width: 75px;
    }
    .whyP {
        font-size: 12px;
    }
}

@media screen and (max-width: 576px){

}

@media screen and (max-width:384px){
    
}

@media screen and (max-width:360px){
    
}